.loaderWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
}

.loader {
    width: 48px;
    height: 48px;
    border: 6px solid #ccc;
    border-top: 6px solid #121212;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}