.servicesWrap {
    background-image: url(/img/services-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    overflow: hidden;
    position: relative;
    padding-bottom: 90px;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 6, 0.5);
        z-index: 1;
    }
}

.top_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;

    position: relative;
    z-index: 2;
}

.top_category {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;

    @media (max-width: 480px) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
    }

    a {
        min-width: 120px;
        max-width: 120px;

        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        font-size: 18px;
        font-weight: 500;
        color: #fff;
        padding: 15px;
        border-radius: 8px;
        border: 1px solid #fff;

        font-variant: small-caps;
        text-decoration: none;

        @media (max-width: 480px) {
            min-width: 60px;
            padding: 12px;
            max-width: 100%;
            width: auto;
            font-size: 16px;
        }

        @media (max-width: 380px) {
            font-size: 12px;
        }

        &.activeTab {
            color: #000;
            background-color: #fff;
        }
    }
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    position: relative;
    z-index: 2;
    padding-top: 30px;

    h3 {
        font-size: 18px;
        font-weight: 500;
        color: #fff;
        background: #ff0000;
        padding: 8px 12px;
        border-radius: 12px;
        box-shadow: 0px 1px 2px 0px #6951ff0d;

        @media (max-width: 480px) {
            font-size: 14px;
            margin-bottom: 4px;
        }
    }

    h2 {
        font-weight: 800;
        // font-size: 120px;
        font-size: clamp(2.213rem, 0.966rem + 6.76vw, 7.5rem);
        line-height: 1;
        letter-spacing: 10%;
        font-variant: small-caps;
        color: #fff;

        span {
            color: transparent;
            -webkit-text-stroke: 3px #fff;
            text-stroke: 3px #fff;
            font-family: sans-serif;

            @media (max-width: 480px) {
                -webkit-text-stroke: 1px #fff;
                text-stroke: 1px #fff;
            }
        }
    }
}

.content_box {
    display: flex;
    flex-direction: column;

    gap: 25px;
    padding: 55px 0;

    > div {
        h4 {
            font-weight: 500;
            font-size: 32px;
            color: #b8b8b8;

            @media (max-width: 480px) {
                font-size: 22px;
            }
        }

        h3 {
            font-weight: 700;
            font-size: 48px;
            color: #121212;

            @media (max-width: 480px) {
                font-size: 26px;
            }
        }
    }

    p {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.3;
        color: #8b8b8b;

        @media (max-width: 480px) {
            font-size: 16px;
        }
    }
}
