.title {
    h2 {
        font-weight: 700;
        font-size: clamp(1.375rem, 1.121rem + 1.1vw, 2rem);
        padding-top: 30px;
    }
}

.wrap {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 13px;
    padding: 20px 0;

    @media (max-width: 1300px) {
        grid-template-columns: repeat(5, 1fr);
    }

    @media (max-width: 1216px) {
        grid-template-columns: repeat(4, 1fr);
    }

    @media (max-width: 858px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 700px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 480px) {
        grid-template-columns: repeat(1, 1fr);
    }
}