.productsWrap {
    padding-bottom: 100px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    @media (max-width: 992px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 768px) {
        grid-template-columns: 1fr;
    }
}

.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;

    padding: 35px;
    text-decoration: none;

    background-color: #131517;
    border-radius: 70px;

    background-image: url(/img/numbers-bg.svg);
    background-repeat: no-repeat;
    background-position: right -50px top -50px;

    @media (max-width: 480px) {
        border-radius: 30px;
        padding: 25px 20px;
        background-size: 100px;
        background-position: right -30px top -30px;
    }

    img {
        margin-bottom: 10px;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
        aspect-ratio: 1;

        @media (max-width: 480px) {
            width: 70px;
            height: 70px;
        }
    }

    h3 {
        font-weight: 700;
        font-size: 45px;
        line-height: 1.1;
        color: #fff;

        @media (max-width: 480px) {
            font-size: 30px;
        }
    }

    p {
        color: #8b8b8b;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.1;

        @media (max-width: 480px) {
            font-size: 16px;
        }
    }
}

.inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 15px;

    margin-top: 70px;

    h2 {
        font-weight: 700;
        font-size: 40px;
        line-height: 1.1;
        max-width: 1250px;
        margin: 0 auto;

        @media (max-width: 480px) {
            font-size: 25px;
        }
    }

    p {
        font-weight: 700;
        font-size: 20px;
        line-height: 1.2;

        @media (max-width: 480px) {
            font-size: 16px;
        }
    }
}
