.numbers {
    padding: 50px 0;
}

.wrapper {
    background: #121212;
    padding: 35px 30px;
    border-radius: 50px;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 15px;

    background-image: url(/img/numbers-bg.svg);
    background-repeat: no-repeat;
    background-position: right -50px top -50px;

    @media (max-width: 480px) {
        border-radius: 30px;
        padding: 25px 20px;
        background-size: 100px;
        background-position: right -30px top -30px;
    }
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    gap: 25px;

    @media (max-width: 1200px) {
        grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 992px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 768px) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    background-color: #fff;
    border-radius: 25px;
    padding: 20px;

    img {
        width: 90px;
        height: 90px;
        aspect-ratio: 1;

        @media (max-width: 480px) {
            width: 60px;
            height: 60px;
        }
    }

    div {
        display: flex;
        flex-direction: column;
        gap: 15px;

        h5 {
            color: #ff0000;
            font-weight: 500;
            font-size: 18px;
            line-height: 1;
        }

        h4 {
            color: #121212;
            font-weight: 700;
            font-size: 45px;
            line-height: 1;

            @media (max-width: 480px) {
                font-size: 35px;
            }
        }
    }
}
