.contactsWrap {
    // padding: 100px 0;
    padding: 80px 0;

    @media (max-width: 480px) {
    //   padding: 80px 0;
    }
}

.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;

    max-width: 900px;
    margin: 0 auto;

    text-align: center;

    p {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.3;
        color: #556987;
    }
}

.wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    margin-top: 50px;
    gap: 50px;

    @media (max-width: 768px) {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    text-align: center;

    h3 {
        font-weight: 700;
        font-size: 28px;
        line-height: 1.2;
        color: #09122c;
    }

    a {
        font-size: 18px;
        font-weight: 500;
        color: #556987;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.socs {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}
