.feedback {
    background-image: url(/img/feedback-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 50px 0;
}

.wrapper {
    display: grid;
    grid-template-columns: 400px 1fr;
    gap: 20px;
    color: #fff;

    @media (max-width: 992px) {
        grid-template-columns: 1fr;
    }

    p {
        font-size: 18px;
        font-weight: 500;
        line-height: 1.1;
        padding: 10px 0;

        span {
            color: #ff0000;
        }
    }
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    > div {
        display: flex;
        gap: 20px;

        @media (max-width: 480px) {
            flex-direction: column;
            //   align-items: stretch;
            // width: fit-content;
            gap: 10px;
        }

        input {
            padding: 20px 24px;
            background-color: #fff;
            color: #000;
            font-size: 18px;
            font-weight: 300;
            line-height: 1;
            border-radius: 6px;
            width: 100%;
            max-width: 700px;
            border: none;

            @media (max-width: 480px) {
                max-width: unset;
                width: unset;

                padding: 15px 20px;
                font-size: 16px;
            }
        }

        button {
            max-width: 150px;
            width: 100%;
            justify-content: center;

            @media (max-width: 480px) {
              max-width: 100%;
              padding: 15px 0;
            }
        }
    }
}

.checkboxLabel {
    display: flex;
    gap: 10px;
    input {
        width: 16px;
        height: 16px;
    }
    span {
        margin-top: 4px;

        a {
            color: #ff0000;
        }
    }
}
