.about_hero {
    text-align: center;

    iframe {
        width: 100%;
        min-height: 60dvh;
        border-radius: 20px;
        border: 3px solid #000000;
    }
}

.about_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;

    button {
        padding: clamp(0.5rem, 0.398rem + 0.44vw, 0.75rem) clamp(1.875rem, 1.113rem + 3.3vw, 3.75rem);
        border-radius: 8.5px;
        cursor: pointer;
        background: #121212;
        color: #fff;
        border: none;
        font-size: clamp(1.125rem, 1.074rem + 0.22vw, 1.25rem);
    }
}