.breadcrumbs {
  padding: 40px 0;

  .whiteText {
    color: #fff !important;
    text-shadow:
    -0.5px -0.5px 0 #000,
     0.5px -0.5px 0 #000,
    -0.5px  0.5px 0 #000,
     0.5px  0.5px 0 #000;
  }
  @media (max-width: 480px) {
    padding: 30px 0;
  }
  h3 {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
    color: #121212;
    margin-bottom: 10px;

    @media (max-width: 480px) {
      font-size: 30px;
    }
  }

  div {
    display: flex;
    gap: 6px;
    color: #121212;
    align-items: center;
    span {
      font-weight: 700;
    }

    a {
      font-weight: 700;
      font-size: 20px;
      color: #121212;
      text-decoration: none;

      @media (max-width: 480px) {
        font-size: 16px;
      }
    }
  }
}
