.contacts_hero {
    background-image: url(/img/car-bg.png);
    background-size: 50%;
    background-color: #000;
    background-position: right bottom -30px;
    background-repeat: no-repeat;
    color: #fff;
    overflow: hidden;
    position: relative;
    padding-bottom: 90px;

    .cotacts_title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;

        .btn {
            background-color: #FF0000;
            cursor: pointer;
            color: #fff;
            box-shadow: 0px 1px 2px 0px #6951FF0D;
            border-radius: 12px;
            font-size: 18px;
            padding: 8.5px 12px;
            border: none;
            font-weight: 500;
        }
    }
}

.title {

    h1,
    h2 {
        font-weight: 800;
        // font-size: 120px;
        font-size: clamp(2.813rem, 1.166rem + 6.76vw, 7.5rem);
        line-height: 1;
        letter-spacing: 10%;
        font-variant: small-caps;
        color: #fff;

        @media (max-width: 480px) {
            font-weight: 700;
            letter-spacing: 1px;
            text-align: center;
        }

    }

    h2 {
        color: #FFF;

        span {
            color: #FF0000;
        }
    }

    h1 {
        span {
            color: transparent;
            -webkit-text-stroke: 3px #fff;
            text-stroke: 3px #fff;
            font-family: sans-serif;

            @media (max-width: 480px) {
                -webkit-text-stroke: 1px #fff;
                text-stroke: 1px #fff;
            }
        }
    }

    p {
        font-weight: 300;
        color: #fff;
        font-size: clamp(1.625rem, 1.461rem + 0.71vw, 2.125rem);
        padding-top: 15px;

        @media (max-width: 480px) {
            text-align: center;
        }
    }
}

.content_box {
    display: flex;
    flex-direction: column;

    gap: 25px;
    padding: 55px 0;

    >div {
        h4 {
            font-weight: 500;
            font-size: 32px;
            color: #b8b8b8;

            @media (max-width: 480px) {
                font-size: 22px;
            }
        }

        h3 {
            font-weight: 700;
            font-size: 48px;
            color: #121212;

            @media (max-width: 480px) {
                font-size: 26px;
            }
        }
    }

    p {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        color: #121212;

        span {
            color: #FF0000;
        }

        @media (max-width: 480px) {
            font-size: 16px;
        }
    }
}