.batteriesWrap {
    position: relative;
    padding-bottom: 50px;
}

.main_bg {
    position: absolute;
    width: 100%;
    height: 500px;
    object-fit: cover;
    z-index: -1;

    top: 0;
    left: 0;
    overflow: hidden;

    @media (max-width: 768px) {
        height: 400px;
    }
    @media (max-width: 480px) {
        height: 250px;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;

    @media (max-width: 480px) {
      gap: 15px;
    }
}

.slider {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}
.slide_image {
    width: 100%;
    max-height: 500px;
    object-fit: contain;

    filter: drop-shadow(0 0 10px white);

    @media (max-width: 992px) {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
}

.wrap {
}

.wrap_top {
    display: flex;
    justify-content: space-between;

    @media (max-width: 992px) {
        flex-direction: column;
        gap: 20px;
    }

    > div {
        h5 {
            color: #b8b8b8;
            font-size: 32px;
            font-weight: 500;

            @media (max-width: 480px) {
                font-size: 24px;
            }
        }
        h2 {
            font-weight: 700;
            font-size: 48px;

            @media (max-width: 768px) {
                font-size: 38px;
            }

            @media (max-width: 480px) {
                font-size: 28px;
            }
        }
    }
}

.wrap_info {
    display: flex;
    gap: 35px;
    align-items: center;

    @media (max-width: 480px) {
      gap: 20px;
      align-items: stretch;
    }
}

.wrap_info_card {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 4px;

    flex-direction: column;

    padding-left: 40px;
    border-left: 4px solid #8b8b8bb2;

    @media (max-width: 480px) {
        padding-left: 20px;
    }

    &:first-child {
        padding-left: 0;
        border-left: none;
    }

    p {
        font-size: 20px;
        color: #8b8b8b;

        @media (max-width: 480px) {
            font-size: 16px;
        }
    }
    b {
        font-size: 24px;

        @media (max-width: 480px) {
            font-size: 18px;
        }
    }
}

.wrap_cars {
    display: flex;
    align-items: center;
    gap: 10px;

    @media (max-width: 480px) {
        img {
            width: 24px;
            height: 24px;
        }
    }
}

.content {

    padding: 50px 0;

    display: flex;
    flex-direction: column;
    gap: 30px;

    @media (max-width: 480px) {
        gap: 15px;
        padding: 25px 0;
    }

    p {
        font-size: 22px;
        font-weight: 500;
        line-height: 1.2;

        @media (max-width: 480px) {
            font-size: 16px;
        }

        span {
            font-weight: 700;
            color: #ff0000;
        }
    }
}
.sizes {
    display: flex;
    flex-direction: column;
    gap: 15px;

    h4 {
        font-size: 28px;
        font-weight: 600;
        color: #ff0000;

        @media (max-width: 480px) {
            font-size: 22px;
        }
    }
}

.sizes_charts {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (max-width: 1400px) {
        justify-content: flex-start;
    }

    @media (max-width: 480px) {
        gap: 10px;
    }
}
.size_chart {
    padding: 8px 8px;
    border: 2px solid #121212;
    background-color: #fff;
    color: #000;
    border-radius: 5px;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;

    transition:
        background-color 0.4s,
        color 0.4s;

    &.active {
        background-color: #000;
        color: #fff;
    }

    @media (max-width: 480px) {
        font-size: 16px;
    }
}
