.footer {
    background-color: #121212;
    padding: 70px 0;
    color: #f9f7f7;

    @media (max-width: 480px) {
      padding: 35px 0;
    }
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;

    padding-bottom: 50px;

    border-bottom: 1px solid #484848;

    flex-wrap: wrap;

    @media (max-width: 480px) {
        flex-direction: column;
        align-items: center;
        text-align: center;
        // padding-left: 30px;
        padding-bottom: 25px;
        gap: 30px;
    }
}

.logo {
    max-width: 160px;
    width: 160px;
    display: block;

    img {
        width: 100%;
    }
}

.menu {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;

    @media (max-width: 480px) {
        flex-direction: column;
        gap: 25px;
    }

    a {
        color: #f9f7f7;
        text-decoration: none;
        font-size: 18px;
        font-weight: 500;
        line-height: 1;
    }
}

.rights {
    padding-top: 50px;

    @media (max-width: 480px) {
        // padding-left: 30px;
        padding-top: 25px;
    }

    p {
        font-size: 18px;
        font-weight: 500;
        line-height: 1.1;

        @media (max-width: 480px) {
            font-size: 12px;
            opacity: 0.8;
            text-align: center;
            
        }
    }
}
