.pretitle {
    font-weight: 500;
    color: #fbf7ff;
    line-height: 1.1;
    width: max-content;
    display: block;
    font-size: 18px;
    background: #ff0000;
    padding: 6px 12px;
    border-radius: 12px;
}
